*{
    margin: 0;
    padding: 0;
    color: white;
}

#navbar{
    padding-top: 15px;
    height: 60px;
    background-color: #0f1111;
}

button{
    background-color: #f08804;
}

#logo{
    color:#f08804;
    font-size: 25px;
    font-weight: 530;
}

a{
    margin-right: 200px;
    text-decoration: none;
}

input{
    color: #0f1111;
}
