*{
    font-family: 'Times New Roman';
    background-color: azure;
    font-weight: 600 ;
}

h1{
    text-align: center;
    text-transform: capitalize;
    color: brown;
    
}

#outer{
    font-size: 25px;
    text-align: center;
    color: brown;
    
}

#inner{
    font-size: 10px;
    color: brown;
}